



.xsb_prel {
  display: flex;
}


.xsb_module_settings {
  -webkit-overflow-scrolling: touch;
}



.sb_1m_module .xsb_0_li_indicator {
  display: none !important;
}
.sb_1m_module.module_active .xsb_0_li_indicator {
  display: block !important;
}



/* MENU */


/* MENU */


.xsb_settings_inner.moved .xbc_button.xbc_button--preview {
  /* opacity: 0; */
  /* color: rgba(0,0,0,0); */
  width: 40px !important;
  min-width: 40px !important;
  padding: 0 !important;
  overflow: hidden;
}
.xsb_settings_inner.moved .xbc_button.xbc_button--preview>.xsb_global_sett_text {
  color: rgba(0,0,0,0);
}
.xsb_settings_inner.moved .xbc_button.xbc_button--preview>.xsb_global_sett_icon {
  display: flex;
}

.xsb_settings_inner.moved .sb_1m_module_bghover {
  /* opacity: 0; */
  /* background-color: transparent; */
}
.xsb_settings_inner.moved .sb_1m_module_title  {
  opacity: 0;
  /* background-color: transparent; */
}


.xsb_settings_inner.moved .xsb_menu {
  opacity: 0;
}

.xsb_settings_inner.moved .sb_1m_module {
  /* opacity: 0.5; */
}
.xsb_settings_inner.moved .sb_1m_module:hover {
  opacity: 1;
}


.xsb_settings_inner.moved .sb_1m_module_bghover:hover {
  opacity: 1;
  -webkit-filter: none !important;
  filter: none !important;
}


.xsb_settings_inner.moved .sb_1m_module_bg.sb_m_menu{
  transform: scale(0.8)
}

/* .xsb_but--prev:hover .xsb_but--pa_newwin {
  color:currentColor;
}

.sb_1m_module:hover .sb_1m_icon--drag {
  opacity: 1;
} */





.xsb_0_li_hint {
  pointer-events: none;
}




/*COLOR PICKER OVERRIDES*/
.sp-replacer {
	padding:0 !important;
	border: none !important;
  width: 100%;
  height: 100%;
  min-height: 30px;
  position: relative;
}
.sp-dd {
	display:none;
}
.sp-preview {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 30px !important;
  border: none !important;
	margin-right: none !important;
}
.sp-container {
	background-color: none !important;
  border: none !important;
  display: flex;
  flex-direction: column !important;
	right: 16px !important;
  left: auto !important;
}
.sp-input {
	background: rgba(255, 255, 255, 0.55) !important;
}

.sp-palette .sp-thumb-el {
  width: 33.333% !important;
  height: 20px !important;
  margin: 0 !important;
  border: none !important;
}
.sp-palette {
  max-width: 100% !important;
  width: 100% !important;
}

.sp-palette-container {
border-right: none !important;
}
.sp-picker-container {
  border: none !important;
  width: 228px !important;
}
.sp-picker-container, .sp-palette-container {
/*padding-top:0px !important;
padding-right:0px !important;
padding-left:0px !important;*/
background: #001e36 !important;
}
.sp-button-container {
padding-right: 8px;
}

.sp-color, .sp-hue, .sp-clear {
border:none !important;
}
.sp-color {
right:0px !important;
border: none !important;
}
.sp-alpha {
height:16px !important;
}





/*QUILL OVERRIDES*/
.ql-editor.ql-blank::before {
	opacity: 0.7;
  color: inherit !important;
  /*content: inherit !important;*/
  font-style: inherit !important;
  position: inherit !important;
}

.ql-container,
.ql-editor {
  box-sizing: inherit !important;
  line-height: inherit !important;
  height: inherit !important;
  outline: inherit !important;
  overflow-y: inherit !important;
  padding: inherit !important;
  tab-size: inherit !important;
  -moz-tab-size: inherit !important;
  text-align: inherit !important;
  white-space: inherit !important;
  word-wrap: inherit !important;
}
.ql-container {
  box-sizing: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  height: inherit !important;
  margin: inherit !important;
  position: inherit !important;
}

.ql-bubble .ql-picker-label::before {
  position: absolute;
  left: 20px;
}
/*QUILL OVERRIDES end*/


/*GENERIC USEFUL CSS*/
.noselect {/*Disables selection*/
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.disabled,
.noclick {/*Click through the element*/
	pointer-events: none;
}

.hidden {
	display:none !important;
}





.swiper-button-prev {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E") !important;
}
.swiper-button-next {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23FFFFFF'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
	/* background: #FFF !important; */
}

/* PAY2PLAY button for landings START*/
.xpay2Play-widget-simple,
.xpay2Play-widget-simple-button-block,
.xpay2Play-widget-simple-payment-button,
.xpay2play-widget-simple-payment-button-amount {
  font-family: "Goudy trajan", sans-serif !important;
  position: relative !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-direction: row !important;
}
.xpay2Play-widget-simple-payment-button {
  padding-right: 1.4em !important;
  padding-left: 1.4em !important;
}
.xpay2Play-widget-simple-payment-button-amount {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-direction: row !important;
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.formatted-currency.discount {
  text-decoration: line-through;
  margin-left: 0.4em;
}
/* PAY2PLAY button for landings END*/


.ps-button-button {
  position: relative;
  top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.xsb_scroll {
overflow-x: hidden !important;
}




/* HIDE CONTROLS */

.x_off:hover .xsb_cont_controls {
  opacity:1;
}






.xsb_sett_label,
.xsb_sett_label:active {
  /* color: currentColor !important; */
}

.xsb_sett_block .xsb_0_li_indicator {
  display: none;
}
.xsb_sett_block.active .xsb_0_li_indicator {
  display: flex;
}





.xsb_fpacks_desc_p::after {
  content: "\Afiber_manual_record";
  font-size: 2em;
  white-space: pre;
  font-family: "Materialicons";
}




.xsb_hint::before {
  content: url("data:image/svg+xml;charset=UTF-8, <svg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='0.100586' y='10' width='10' height='10' rx='1' transform='rotate(-45 0.100586 10)' fill='currentColor'/></svg>");
  position:absolute; /*or absolute*/
  z-index:1;
  /* margin-top: 8px; */
  margin-left:-18px;
  color: #001e36;
  /* top:50%; */
}




.xsb_fpacks_col:hover .xsb_fpacks_bg {
 opacity: 1;
}