<!-- HERO -->

<input type="radio" id="hero1" name="modules_hero_vars" value="hero1" data-name="hero1" class="xsb_sett_check w-radio-input">
<label for="hero1" data-xsb-localization="modules_hero_var_hero" class="xsb_sett_label w-form-label">Hero</label>

<input type="radio" id="hero2" name="modules_hero_vars" value="hero2" data-name="hero2" class="xsb_sett_check w-radio-input">
<label for="hero2" data-xsb-localization="modules_hero_var_herominimal" class="xsb_sett_label w-form-label">Hero Minimal</label>

<input type="radio" id="hero3" name="modules_hero_vars" value="hero3" data-name="hero3" class="xsb_sett_check w-radio-input">
<label for="hero3" data-xsb-localization="modules_hero_var_hero2cols" class="xsb_sett_label w-form-label">2 Columns</label>

<!-- HERO end -->





<!-- TEXT -->

<input type="radio" id="text_1" name="modules_text_vars" value="text_1" data-name="text_1" class="xsb_sett_check w-radio-input">
<label for="text_1" data-xsb-localization="modules_hero_var_text_1" class="xsb_sett_label w-form-label">Default</label>

<input type="radio" id="text_2" name="modules_text_vars" value="text_2" data-name="text_2" class="xsb_sett_check w-radio-input">
<label for="text_2" data-xsb-localization="modules_hero_var_text_2" class="xsb_sett_label w-form-label">Columns 1</label>

<input type="radio" id="text_3" name="modules_text_vars" value="text_3" data-name="text_3" class="xsb_sett_check w-radio-input">
<label for="text_3" data-xsb-localization="modules_hero_var_text_3" class="xsb_sett_label w-form-label">Columns 2</label>

<input type="radio" id="text_4" name="modules_text_vars" value="text_4" data-name="text_4" class="xsb_sett_check w-radio-input">
<label for="text_4" data-xsb-localization="modules_hero_var_text_4" class="xsb_sett_label w-form-label">Text Only</label>

<!-- TEXT end -->






<!-- SYS REQ -->

<input type="radio" id="sysreq_1" name="modules_sysreq_templates" value="sysreq_1" data-name="sysreq_1" class="xsb_sett_check w-radio-input">
<label for="sysreq_1" data-xsb-localization="modules_sysreq_var1" class="xsb_sett_label w-form-label" checkeds>1 Platform</label>

<input type="radio" id="sysreq_1" name="modules_sysreq_templates" value="sysreq_2" data-name="sysreq_2" class="xsb_sett_check w-radio-input">
<label for="sysreq_2" data-xsb-localization="modules_sysreq_var2" class="xsb_sett_label w-form-label">2 Platforms</label>

<input type="radio" id="sysreq_3" name="modules_sysreq_templates" value="sysreq_3" data-name="sysreq_3" class="xsb_sett_check w-radio-input">
<label for="sysreq_3" data-xsb-localization="modules_sysreq_var3" class="xsb_sett_label w-form-label">3 Platforms</label>

<!-- SYS REQ end -->



<input checked type="radio" id="reviews_2" name="modules_reviews_vars" value="reviews_2" data-name="reviews_2" class="xsb_sett_check w-radio-input">
<label for="reviews_2" data-xsb-localization="modules_reviews_var_reviews_2" class="xsb_sett_label w-form-label">2 reviews</label>

<input type="radio" id="reviews_3" name="modules_reviews_vars" value="reviews_3" data-name="reviews_3" class="xsb_sett_check w-radio-input">
<label for="reviews_3" data-xsb-localization="modules_hero_var_reviews_3" class="xsb_sett_label w-form-label">3 reviews</label>

<input type="radio" id="reviews_4" name="modules_reviews_vars" value="reviews_4" data-name="reviews_4" class="xsb_sett_check w-radio-input">
<label for="reviews_4" data-xsb-localization="modules_hero_var_reviews_4" class="xsb_sett_label w-form-label">4 reviews</label>